style{ 
    text-align: center; 
    font-family: 'Times New Roman', Times, serif; 
    padding: 0px; 
    margin: 0px; 
} 
 
h1{ 
    padding-top: 10px; 
    font-size: 2rem; 
} 
 
.container{ 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 200px; 
} 
 
#btn{ 
    background-color: chocolate; 
    color: antiquewhite; 
    width: 15%; 
    height: 30%; 
    font-size: 1.5rem; 
 
}